<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My blog</title>
    <em>This is a blog post</em>

</head>
<body>
<h1>This is a heading</h1>
<h2>A sub-heading</h2>
<h3>A sub-sub-heading</h3>
<em>text</em>
<strong>text</strong>
<br />
<p>hey there</p>
<a href="http://djangogirls.org">link</a>
<ul><li>first item</li><li>second item</li></ul>
<div>This is funny</div>
<div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
</body>
</html>